@font-face {
	font-family: "Minnie";
	src: url(minnie.TTF);
}
@font-face {
	font-family: "Impress";
	src: url(impress-bt.ttf);
}
@font-face {
	font-family: "Remington";
	src: url(vt-remington-portable.ttf);
}