html {
	overflow-y: hidden;
	background-image: url(blue.jpg);
	background-repeat: repeat-y;
	background-attachment: fixed;
	background-position: center;
	background-size: 156%
}

#header {
	padding: 150px 200px 150px 200px;
	background-color: black;
	margin: 2% 5% 3% 5%;
}
#nav-side ul {
	border: 2px outset white;
	list-style-type: none;
	position: relative;
	margin-right: 70%;
	margin-left: 5%;
	width: 20%;
}

#nav-side li {
	font-family: "Minnie";
	font-size: 220%;
	display: block;
	text-align: center;
	padding: 35px 0;
	width: 100%;
	margin-left: -7%;
}
#nav-side ul#play {
	background-color: red;
}
ul#nav{
	background-color: orange;
}
#nav-side li a {
	color: white;
	text-decoration: none;
}
#toon-of-the-month {
	border: 2px outset white;
	font-family: "Minnie";
	padding: 20px;
	margin-left: 5%;
	background-color: orange;
	margin-right: 71.5%;
	text-align: center;
	font-size: 220%;
}
p.copyright {
	text-align: center;
	font-family: "Remington";
	margin: 100px 0;
	color: white;
}